<div ng-if="!details">
        Carico i risultati...
      </div>
      
      <div ng-if="details.Response==='True'">
        <img ng-src="{{ details.Poster=='N/A' ? 'http://placehold.it/150x220&text=N/A' : details.Poster }}" class="thumbnail animated flip movie-poster">
      
        <span class="span-outer">
          <a href="http://imdb.com/title/{{ details.imdbID }}" target="_blank">{{ details.Title }}</a>
        </span>, {{ details.Year }}
      
        <p><strong>Anno uscita:</strong> {{ details.Released }} ({{ details.Runtime }})</p>
      
        <p>{{ details.Plot }}</p>
      
        <p class="outer-p">
          <div class="inner-p">
            <span class="label label-primary">Regista :</span> {{ details.Director }}
          </div>
          <div class="inner-p">
            <span class="label label-primary">Attori :</span> {{ details.Actors }}
          </div>
          <div class="inner-p">
            <span class="label label-primary">Genere :</span> {{ details.Genre }}
          </div>
        </p>
      
        <p class="outer-p-2">Ratings:<br>
          <strong>IMDb Rating</strong>: <span class="label label-success">{{ details.imdbRating }}</span><br>
          <strong>IMDB Voting</strong>: <span class="label label-success">{{ details.imdbVotes }}</span>
        </p>
      
        <p class="outer-p-3">
          <a ng-href="https://www.youtube.com/results?search_query={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Guarda il trailer</a>
          <span class="divider"></span>
          <a ng-href="http://subscene.com/subtitles/title?q={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Sottotitoli</a>
          <span class="divider"></span>
          <a ng-href="http://www.theost.com/search/custom/?key={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Colonna Sonora</a>
          <span class="divider"></span>
          <a ng-href="http://www.amazon.in/s/ref=nb_sb_noss_1?url=search-alias%3Ddvd&field-keywords={{ details.Title }}" target="_blank" class="btn btn-default btn-xs btn-info">Compra il film</a>
        </p>
      </div>
      
      <div ng-if="details.Response==='False'">
        Nessun risultato trovato.
      </div>