<div ng-if="related.Response!=='False'">
  &nbsp;&nbsp;&nbsp; Related Results:<hr>
      
        <ul class="rel-results">
          <li ng-repeat="movie in related.Search">
            <a href="#" id="{{ $index + 1 }}" ng-click="update(movie)">{{ movie.Title }}</a>, {{ movie.Year }}
          </li>
        </ul>
      </div>