<!DOCTYPE html>
<html lang="en" ng-app="ngApp" ng-controller="MovieController"> 
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Api Movie</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
  <div class="container-fluid outerdiv">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
      </div class="navbar-header">
        <a class="navbar brand" href="#"><span class="span-style">Film Browser</span></a> 
      </div>
    </nav>
  </div>

  <noscript>
      <div class="nojs">Javascript is either disabled or not supported in your browser. Please enable it or use a Javascript enabled browser.</div>
    </noscript>

    <div class="animated zoomInRight">
      <div class="input-group search-bar">
        <input type="text" ng-model="search" ng-model-options="{ debounce: 800 }" onclick="select()" class="form-control" placeholder="Enter full movie name" autofocus />
        <span class="input-group-addon bar-style"><i class="glyphicon glyphicon-search"></i></span>
      </div>

      <div id="main-info" ng-include="'partials/main-info.html'" class="col-md-8"></div>

      <div id="related-results" ng-include="'partials/related-results.html'" class="col-md-4 animated bounce related-results"></div>
    </div>
  </div>

  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
</body>
</html>
